body{
    margin-left: 20px;
    font-family: 'News Cycle', sans-serif;
    background-color: lightseagreen;
}


.navbar-color{
    background-color: MediumTurquoise;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 15pt;
}
.logo{
    width: 100px;
}

.titulo-index{
    margin-right: 50px;
    color: black;
    font-size: 30pt;
}

.listagem{
    text-decoration: none;
    font-size: 15pt;
    color: rgba(50, 43, 148, 0.36);
}

form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
 
}
label{
    font-size: 10pt;
    margin: 10px;
}

#frase{
    height: 90px;
}

#botao{
    width: 100px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 30px;
}

#botao:hover{
    background-color: rgba(243, 108, 55, 0.36);
    border: none;
    box-shadow: 5px 5px black;
}

input{
    height: 40px;
    margin: 5px;
    width: 35%;
}

.div-display{
   margin-left: 25%;
}
